backend:
  name: github
  branch: main
  repo: "HongTrieu04/docusaurus-Vercel"
  auth_type: implicit
  app_id: Ov23liPzYhQvA4nwj7xk

media_folder: "static/img/uploads"
public_folder: "/img/uploads"

# === COLLECTIONS ===
collections:
  # --- 1. BLOG ---
  - name: "blog"
    label: "Bài viết (Blog)"
    folder: "blog"
    create: true
    extension: "md"
    format: "frontmatter"
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { name: "title", label: "Tiêu đề", widget: "string", optional: true }
      - { name: "slug", label: "Slug (Đường dẫn)", widget: "string", optional: true }
      - { name: "body", label: "Nội dung", widget: "markdown" }

  # --- 2. DOCS ---
  - name: "docs"
    label: "Tài Liệu (Docs)"
    folder: "docs"
    create: true
    extension: "md"
    format: "frontmatter"
    slug: "{{slug}}"
    nested:
      depth: 5 
    fields:
      - { name: "title", label: "Tiêu đề (Title)", widget: "string", optional: true }
      - { name: "sidebar_label", label: "Nhãn Sidebar", widget: "string", optional: true }
      - { name: "sidebar_position", label: "Vị trí Sidebar", widget: "number", value_type: 'int', optional: true }
      - { name: "body", label: "Nội dung", widget: "markdown" }